<!DOCTYPE HTML>
<html>

<head>
	<script>
		window.onload = function () {

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				title: {
					text: "The analytics of your profile"
				},
				data: [{
					type: "pie",
					startAngle: 240,
					yValueFormatString: "##0.00\"%\"",
					indexLabel: "{label} {y}",
					dataPoints: [
						{% for item, label in set %}
          {
					y: {{ item }},
				label: "{{label}}"
          },
			{% endfor %}
		]
	}]
});
		chart.render();

}
	</script>
</head>

<body>
	<div id="chartContainer" style="height: 400px; width: 100%;"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>